<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
        <style>
        
        </style>

        {% endblock %}
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Follow Me</a>
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog') }}">Installation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_create') }}">Créer un article</a>
                    </li>
                    
                    <li class="nav-item">
                       <!-- <a class="nav-link" href">About</a> -->
                    </li>
                

                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                    </li>
                {% if not is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                        </li>
                    {% endif %}
                </ul >
            </div>
        </nav>
        <div class="container">
            <i class="fas fa-igloo"></i>
            <!-- this icon's 1) style prefix == fas and 2) icon name == igloo -->
            <i class="fas fa-igloo"></i>
            <!-- using an <i> element to reference the icon -->
            <span class="fas fa-igloo"></span>
        </div>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>