<!DOCTYPE html>
<html dir="ltr" lang="fr">

    <head>

        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
        <link href="/fontawesome-free-5.7.2-web/css/all.css" rel="stylesheet">
        {% block head%}

            <title>Follow Me</title>
        {% endblock %}
    </head>

    <body>

        <header>
            <div class="wrapper">
                <img class="logo" src="/images/logo.png">
                <h1>Follow Me</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="{{path('home')}}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{path('tele')}}">Telechargement</a>
                        </li>
                        <li>
                            <a href="#contact">contact</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li>
                                <a href="{{path('security_logout')}}">Se deconnecter</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{path('security_login')}}">S'identifier</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </header>

        {% block body %}
            <section id="main-image">
                <div class="wrapper">
                    <h2>
                        <strong>Gardez un oeil</strong><br>sur votre enfant<br></h2>
                    <a href="{{path('security_registration')}}" class="button_1">S'inscrire</a>
                </div>
            </section>

            <section id="steps">
                <div class="wrapper">
                    <ul>
                        <li id="steps-1">
                            <i class="fas fa-sync"></i>
                            <h4>Immédiat</h4>
                            <p>Bènèficiez d'une synchronisation immediat avec l'appareil de votre enfant et retrouver votre
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            enfant tout les secondes.</p>
                        </li>
                        <li id="steps-2">
                            <i class="fas fa-thumbtack"></i>
                            <h4>Precision</h4>
                            <p>Bènèficiez d'une precision fabuleuse de chaque position.</p>
                        </li>
                        <li id="steps-3">
                            <i class="far fa-eye"></i>
                            <h4>Observation</h4>
                            <p>Confiez-nous vos enfant en nous chargeons d'assurer la sècuritè et de veiller avec pleine sèrènitè tout au long
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        de l'absence de votre enfant.</p>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </section>


            <section id="possibilities">
                <div class="wrapper">
                    <article style="background-image:url(/images/head.png)">
                        <div class="overlay">
                            <h4>Sans inquiétude</h4>
                            <p>
                                <small>Dites vas-t-en au soucis,acceder sur n'importe qu'elle plateforme nos produits</small>
                            </p>
                        </div>
                    </article>

                    <article style="background-image:url(/images/enfant.jpg)">
                        <div class="overlay">
                            <h4>Une affaire de famille</h4>
                            <p>
                                <small>Toute mes felicitations! Avoir un enfant n'est pas chose facile,en avoir 2 ou 3, etc.. Confiez-nous toute votre famille
                                </small>
                            </p>

                        </div>
                    </article>
                    <div class="clear"></div>

                </div>
            </section>


        {% endblock %}

        <footer>
            <div class="wrapper">
                <div class="logofooter">
                    <img src="/images/logo.png">
                    <h1>Follow Me</h1>
                </div>
                <div class="copyright">Copyright © Tous droits réservés.</div>
            </div>
        </footer>


    </body>

</html>
